<div class="form-group">
  <label>Preferences:</label>
  @for (preference of user()().preferences; let i = $index; track $index) {
    <div class="preference-item">
      <div class="preference-input-item">
        <input
          [field]="preferencesForm()[i]"
          type="text" 
          placeholder="Enter preference">
        
        @for (error of preferencesForm()[i]().errors(); track error) {
        <div class="error-message">
          {{ error.message }}
        </div>
        }
      </div>
      <button type="button" (click)="removePreference(i)" class="remove-btn">Remove</button>
    </div>
  }
  @for (error of preferencesForm()().errors(); track error) {
  <div class="error-message">
    {{ error.message }}
  </div>
  }
  <button type="button" (click)="addPreference()" class="add-btn">Add Preference</button>
</div>